*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(73, 133, 138, 0.495);
}
.container{
    display: flex;
    height: 500px;
    width: 800px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    box-shadow: 15px 15px 20px black;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: rgb(244, 239, 244);
}
.form h2{
    font-size: 1.5cm;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
}
#email,#password{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}
.form a{
    text-decoration: none;
    color:black;
    margin-top: 20px;
}


/* Right Side */
.side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgb(65, 94, 127);
}
.side img{
    width: 400px;
    height: 500px;
}
p{
    padding: 12px 30px;
    width: 3cm;
    margin-top: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}

p:hover{
    cursor: pointer;
    background-color: rgb(92, 16, 35);
}